@CHARSET "UTF-8";

body, div, h1, h2, h3, h4, h5, h6, p, a, ul, li, img, table, tr, th, td, form, input, select, textarea {
    margin: 0px;
    padding: 0px;
    font-family: Oxygen, Arial;
	font-weight: normal;
    color: #333;
    font-size: 16px;
	vertical-align: bottom;
    text-decoration: none;
    resize: none;
}
body {
    background: #edeef1;
    background-attachment: fixed;
    overflow-y: scroll;
}
h3 {
	font-weight: bold;
	padding-bottom: 10px;
}
h4 {
    font-size: 14px;
	font-weight: bold;
	padding-bottom: 6px;
}
h5 {
    font-size: 13px;
	font-weight: bold;
}
p {
    font-size: 13px;
    color: #555;
	padding-bottom: 6px;
}
a {
    font-size: 13px;
	color: #102b72;
    text-decoration: underline;
}
table {
	border-collapse: collapse;
	margin-bottom: 10px;
}
th {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 6px;
	text-align: left;
	vertical-align: top;
}
td {
	min-height: 22px;
	font-size: 13px;
    color: #555;
    vertical-align: top;
}
input {
	width: 396px;
	height: 24px;
	padding-left: 2px;
}
input[type=submit] {
	width: 60px;
	height: 26px;
	margin-right: 6px;
	padding-left: 0px;
}
input[type=button] {
	width: 60px;
	height: 26px;
	margin-right: 6px;
	padding-left: 0px;
}
select {
	height: 24px;
}
textarea {
	width: 396px;
	height: 100px;
	padding-left: 2px;
}


#container {
    width: 100%;
    min-width: 1200px;
}

	#header {
    	background: #fefefe;
	    width: 1120px;
	    height: 50px;
	    margin: 0 auto;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    padding: 6px;
	}
		#logo {
    		/*background: #102b72;*/
    		background: url(../img/logo_back.png);
			background-size: 100% 100%;
			width: 225px;
			float: left;
		}
		#header ul {
    		background: #305994;
			width: 363px;
	    	height: 50px;
	    	margin-left: 6px;
    		float: left;
		}
			#header li {
	    		/*background: #102b72;*/
	    		background: url(../img/logo_back.png);
				background-size: 100% 100%;
		    	width: 120px;
		    	height: inherit;
		    	margin-left: 1px;
				float: left;
				list-style: none;
				display: table;
				text-align: center;
			}
			#header li:hover {
	    		/*background: #6f86b2;*/
	    		background: url(../img/logo_back_hover.png);
				background-size: 100% 100%;
			}
				#header li a {
					color: #fefefe;
					font-size: 13px;
				    text-decoration: none;
				    display: table-cell;
				    padding-bottom: 8px;
				}
		#login {
    		/*background: #102b72;*/
    		background: url(../img/logo_back.png);
			background-size: 100% 100%;
			width: 526px;
	    	height: 50px;
    		float: left;
			display: table;
			text-align: right;
		}
			#login form {
			    display: table-cell;
			    padding-right: 8px;
			    padding-bottom: 8px;
			}
				#login input[type=password] {
					font-size: 11px;
					width: 80px;
					height: 14px;
				}
				#login input[type=submit] {
					font-size: 11px;
					width: 40px;
					height: 16px;
				}

	#content {
    	background: #fefefe;
	    width: 1092px;
	    min-height: 440px;
	    margin: 0 auto;
	    margin-bottom: 10px;
	    padding: 20px 20px 20px 20px;
		display: table;
		position: relative;
	}

	#foot {
   		/*background: #d1d1d1;*/
   		background: url(../img/logo_back.png);
		background-size: 100% 100%;
	    width: 1120px;
	    margin: 0 auto;
	    margin-bottom: 40px;
		text-align: center;
	    padding: 16px 6px 14px 6px;
	}
		#foot p {
			color: #ddd;
		}

.left {
    width: 400px;
    float: left;
}
.right {
    margin-left: 440px;
}
.right .img {
	text-align: right;
}
.invalid {
	color: #ff6b75;
}
.inline {
	display: inline;
}
.w20 {
	width: 20px !important;
}
.w30 {
	width: 30px !important;
}
.w40 {
	width: 40px !important;
}
.w54 {
	width: 54px !important;
}
.w60 {
	width: 60px !important;
}
.w74 {
	width: 74px !important;
}
.w80 {
	width: 80px !important;
}
.w100 {
	width: 100px !important;
}
.w140 {
	width: 140px !important;
}
.w160 {
	width: 160px !important;
}
.w200 {
	width: 200px !important;
}
.w234 {
	width: 234px !important;
}
.w240 {
	width: 240px !important;
}
.w280 {
	width: 280px !important;
}


